@font-face {
    font-family: Libre-Baskerville;
    src: url(./LibreBaskerville-Regular.ttf);
}

body {
    background-color: black;
}

div {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    font-family: "Libre-Baskerville";
    color: white;
    text-align: center;
}

#daenerys {
    width: 100%;
    border: 5px solid white;

}

h1 {
    text-transform: uppercase;
    font-size: 3rem;
}